<% errors.forEach((message) => { %>
    <div class="alert alert-danger text-center"><%= message %></div>
<% }) %>

<% successMessages.forEach((successMessage) => { %>
    <div class="alert alert-success text-center"><%= successMessage %></div>
<% }) %>